body {
	padding: 0% 2%;
	/*font-size: 14px;*/
	/*font-family: 'Open Sans', 'Helvetica Neue', sans-serif;*/
}

body .ui-widget, 
body .ui-widget:not(.pi){
	font-size:80%;
}

body .ui-widget .ui-widget, 
body .ui-widget .ui-widget:not(.pi){
	font-size: 100%;
}

body .ui-widget.titulos, 
body .ui-widget:not(.pi).titulos{
	font-size:100%;
}

body .ui-widget .ui-widget.titulos, 
body .ui-widget .ui-widget:not(.pi).titulos{
	font-size: 125%;
}

#logo {
	text-align: center;
	height: 137px;
	margin-bottom: 15px;
}

.logoImagem {
	height: 100%;
	object-fit: fill;
	width: 17%;
}

.menu{
	margin-bottom: 0.5%;
}

.menu .ui-menuitem.ui-widget.ui-corner-all:last-child,
.menu .ui-menuitem.ui-widget.ui-corner-all:nth-last-child(2) {
	float: right;
}

.breadCrumb{
	margin-bottom: 1.5%;
}

.ui-breadcrumb ul li:last-child span{
	font-weight: bold;
	color: #007ad9;
}

.ui-datatable thead th, .ui-datatable tfoot td {
	
}

.titulos{
	font-weight: bold;
	color: #007ad9;
}

.botao{
	color: white;
    background-color: #007ad9;
    padding: 0.3%;
    border-radius: 10%;
}

td .botao{
	padding: 26%;
}

#divLogin{
	background-color:#DCDCDC;
	width:220px;
	margin-left: auto;
	margin-right: auto;
	padding:10px;
}

#divLogin .ui-button{
	width: 100%;
}
